html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, a {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 11px;
  text-decoration: none;
}
a {
  color: inherit
}
.bold {
  font-weight: 400;
 }
.bg {
  height: 100%;
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  display: none;
}
.bg-top50 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;
  text-align: center;
}
.bg-text {
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
  color: rgba(255, 255, 255, 0.95);
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Roboto', sans-serif;;
  font-weight: 700;
  font-size: 48px;
  z-index: 90;
}
.bg-img {
  opacity: 1.0;
}
.center {
  margin: auto;
  text-align: center;
  position: absolute;
  top: -40px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80px;
  width: 100%;
  display: none;
}
.palette, .color {
  z-index: 100;
}
.color {
  height: 80px;
  width: 80px;
  border-radius: 80px;
  display: inline-block;
  margin: 20px;
}
.info {
  padding-top: 450px;
  width: 560px;
}
.info-left, .info-right {
  display: inline-block;
}
.info-left {
  float: left;
  word-spacing: 0.5em;
}
.the-date, .the-time {
  text-align: left;
}
.info-right {
  float: right;
  text-align: right;
}
